<div class="peers ai-s fxw-nw h-100vh">
  <div class="d-n@sm- peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv" style='background-image: url("assets/static/images/login-bg.jpg")'>
    <div class="pos-a centerXY">
      <div class="col-12 col-md-5 peer pX-40 pY-60 h-100 bgc-white scrollable pos-r" style='min-width: 400px;'>
        <h4 class="fw-300 c-grey-900 mB-40 center">Login</h4>
        <div class="alert alert-danger" role="alert" *ngIf="loginError">
          Invalid Username or Password
        </div>
        <form #loginForm="ngForm">
          <div class="form-group" >
            <label class="text-normal text-dark">Username</label>
            <input type="email" class="form-control" [ngClass]="{'is-invalid' : (username.invalid && (username.dirty || username.touched)),'is-valid':username.valid}" placeholder="Email" [(ngModel)]="loginRequest.userName" name="username"
              required #username="ngModel">
            <div class="invalid-feedback">
                Please enter username
            </div>
          </div>
          <div class="form-group" >
            <label class="text-normal text-dark">Password</label>
            <input type="password" class="form-control" [ngClass]="{'is-invalid' : (password.invalid && (password.dirty || password.touched)),'is-valid':password.valid}"  placeholder="Password" [(ngModel)]="loginRequest.password" name="password"
              #password="ngModel" required>
            <div class="invalid-feedback">
                Please enter password
            </div>
          </div>
          <div class="form-group">
            <div class="peers ai-c jc-sb fxw-nw">
              <div class="peer">
                <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                  <input type="checkbox" id="inputCall1" name="inputCheckboxesCall" class="peer">
                  <label for="inputCall1" class=" peers peer-greed js-sb ai-c">
                    <span class="peer peer-greed">Remember Me</span>
                  </label>
                </div>
              </div>
              <div class="peer">
                <button class="btn btn-primary" [disabled]="loginForm.invalid" (click)="doLogin()">Login</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>