<div class="row gap-20 masonry pos-r">
  <div class="masonry-sizer col-md-6"></div>
  <div class="masonry-item  w-100">
    <div class="row gap-20">
      <div class="card">
          <div class="container vh-100">
              <div class="d-flex flex-column align-items-center">
                 <div class="p-1">
                    <video #video class="vid" autoplay></video>
                 </div>
                 <div class="pb-2">
                    <button class="btn btn-primary" (click)="capture()">Capture Image</button>
                 </div>
                 <div class="p-1">
                    <canvas #canvas class="vid"></canvas>
                 </div>
              </div>
           </div>

      </div>
    </div>
  </div>
</div>